* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: #eaf0f2;
  /* margin: 0 auto;
  max-width: 1600px; */
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #1a3147;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: 2px;
  margin: 3em;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.content-item {
  max-width: 600px;
  background-color: #ffffff;
  padding: 2em;
  border-radius: 10px;
  margin: 1em;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

.item-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.item-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 14px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px gray;
  z-index: 9999;
}

.item-image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.item-image img {
  width: calc(100% - -6em);
  position: absolute;
  top: -120px;
  left: -60px;
}

.item-image-cartoon {
  background: url("../images/bgSmall.jpg");
}

h1 {
  padding: 1em 0 1em 0;
}

.btn {
  background-color: grey;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.btn {
  background-color: white;
  color: black;
  outline: none;
}

.btn:hover {
  background-color: #e29578;
  color: white;
}

.wrapper2 {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sky {
  background: url("../images/sky.png") no-repeat center;
  /* background-size: cover; */
  transform: translateZ(-600px) scale(3);
  background-position: 40% 26%;

  z-index: 1;
}

.cloud {
  background: url("../images/cloud.png") no-repeat center;
  /* background-size: cover; */
  transform: translateZ(-400px) scale(2.33333333);
  background-position: 36% 40%;
  z-index: 4;
}

.cloud2 {
  background: url("../images/cloud.png") no-repeat center;
  /* background-size: cover; */
  transform: translateZ(-400px) scale(2.33333333);
  background-position: 14% 30%;
  z-index: 5;
}

.cloud3 {
  background: url("../images/cloud.png") no-repeat center;
  /* background-size: cover; */
  transform: translateZ(-400px) scale(2.33333333);
  background-position: 71% 29%;
  z-index: 6;
}

.house {
  background: url("../images/people3.png") no-repeat center;
  /* background-size: cover; */
  transform: translateZ(0) scale(1);
  background-position: 56% 100%;
  z-index: 7;
}

.hero-text {
  background: linear-gradient(
    rgba(105, 211, 252, 0.25) 0%,
    rgba(255, 116, 161, 0.25) 86%,
    rgba(1, 0, 0, 0.25) 100%
  );
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 7;
}

.hero-text h2 {
  font-size: 2.25rem;
  position: absolute;
  left: 50%;
  top: 20%;
}
